# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [32]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [1]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a = [1, 2, 3, 4, 5, 6]
b = a[-3:]
print (b)

[4, 5, 6]

In [34]:
# create a list of numbers from 1 to 20
a[0:20]

[1, 2, 3, 4, 5, 6]

In [57]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
c = [num for num in range(1,100) if num % 2 == 0]
print(c)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [71]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divided_num(num1, num2):
    divided_num = num1 / num2
    return divided_num
print(divided_num(4,2))

2.0

In [72]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for a in range(1,31):
    if a % 3 == 0:
        print("fizz")
    elif a % 5 == 0:
        print("buzz")
    elif a % 3 == 0 and a % 5 == 0:
        print("fizzbuzz")
    else:
        print(a)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz

In [74]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
Ahmo_menu = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}
Ahmo_menu

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [2]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

ModuleNotFoundError: No module named 'pandas'

In [40]:
# select all rows with more than and including 400 calories

In [41]:
# select all rows whose vitamin c content is higher than the iron content

In [42]:
# create a new column containing the caffeine per calories of each drink

In [43]:
# what is the average calorie across all items?

In [44]:
# how many different categories of beverages are there?

In [45]:
# what is the average # calories for each beverage category?